@model SBD_TO_Project.Models.ViewModels.MovieCommentVM

@{ 
    var movieStudioOutput = "<span>";
    var directorOutput = "<span>";

    if (Model.Movie.MovieStudio != null)
    {
        movieStudioOutput += Model.Movie.MovieStudio.Name;
        movieStudioOutput += " established on ";
        movieStudioOutput += Model.Movie.MovieStudio.EstablishedDate.ToShortDateString();
        movieStudioOutput += "<br />";
        if (Model.Movie.MovieStudio.Street != null)
            movieStudioOutput += Model.Movie.MovieStudio.Street + " ";
        if(Model.Movie.MovieStudio.ApartmentNumber != null)
            movieStudioOutput += Model.Movie.MovieStudio.ApartmentNumber + "<br />";
        movieStudioOutput += Model.Movie.MovieStudio.PostalCode + " ";
        movieStudioOutput += Model.Movie.MovieStudio.Town + "<br />";
        movieStudioOutput += Model.Movie.MovieStudio.Country;
    }

    directorOutput += Model.Movie.Director.FirstName + " ";
    if (Model.Movie.Director.Alias != null)
        directorOutput += "\"" + Model.Movie.Director.Alias + "\" ";
    directorOutput += Model.Movie.Director.LastName;

    movieStudioOutput += "</span>";
    directorOutput += "</span>";
}

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <div>
                <h2 class="text-primary text-left">@Model.Movie.Title</h2>
            </div>
        </div>
        <div class="col-6 text-right">
            <a asp-route-id="@Model.Movie.Id" asp-controller="" asp-action="" class=" btn btn-primary">
                <i class="fas fa-search"></i>&nbsp; Check in cinemas
            </a>
            <a asp-action="Index" class=" btn btn-info">
                <i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back
            </a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-8 text-left">
            @Html.Raw(@Model.Movie.Description)
        </div>
        <div class="col-4 text-right">
            <img class="img-fluid d-block mx-auto mb-3 float-left" src="@(WebConstants.ImageMoviePath+Model.Movie.Image)" alt="Card image cap">
        </div>
    </div>
    <div class="row pt-4">
        <div class="row col-8 text-left">
            @foreach (var genre in Model.Movie.MovieGenres)
            {
                <div class="col-6">
                    <span class="badge p-3 border w-100" style="background-color:aliceblue">@genre.Genre.Name</span>

                </div>
                    
            }
        </div>
        <div class="col-4 text-left w-100 ml-4">
            <div>
                <span class="font-italic">Director:</span>
                <a href="#" onclick="showDirector('@directorOutput')">
                    @Model.Movie.Director.FirstName @Model.Movie.Director.LastName
                </a>
            </div>
            <div>
                <span class="font-italic">Movie Studio:</span>
                @if(Model.Movie.MovieStudio != null)
                {
                    <a href="#" onclick="showMovieStudio('@movieStudioOutput')">@Model.Movie.MovieStudio.Name</a>
                }
                else
                {
                    <span>None</span>
                }
            </div>
            <div>
                <span class="font-italic">Movie Actors</span>
                <ul>
                    @foreach(var actor in Model.Movie.ActorMovies)
                    {
                        <li>@actor.Actor.FirstName @actor.Actor.LastName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <br /><br />
    @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.CustomerRole))
    {
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <input asp-for="Comment.IdMovie" hidden />
            <input asp-for="Comment.IdCustomer" hidden />
            <div class="border p-3">
                <div class="form-group row">
                    <h2 class="text-dark pl-3">
                        Add New Comment
                    </h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="ml-auto mr-auto">
                                <textarea asp-for="Comment.CommentContent" id="commentContent" class="form-control summernote"></textarea>
                                <span asp-validation-for="Comment.CommentContent" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="col-4 ml-auto mr-auto">
                                    <input type="submit" class="btn btn-info w-100" onclick="return validateInput()" value="Add Comment" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
        @foreach(var comment in Model.Movie.Comments.OrderByDescending(c => c.Date).Where(c => c.IsConfirmed == true || c.IdCustomer == Model.IdCustomer))
        {
            <div class="row col-12 p-4 border ml-0">
                <div class="col-9 text-left">
                    <span class="font-italic">
                        @if (!comment.IsConfirmed)
                        {
                            @("(Your comment is waiting to be approved)")
                        }
                        <br />
                        <span class="font-weight-bold">
                            @comment.Customer.FirstName
                            @comment.Customer.LastName
                        </span>

                    </span>
                </div>
                <div class="col-3 text-right">
                    @if (User.IsInRole(WebConstants.EmployeeRole) || User.IsInRole(WebConstants.ManagerRole) || User.IsInRole(WebConstants.AdminRole))
                    {
                        <a asp-route-Id="@comment.Id" asp-controller="Comment" asp-action="Delete" class="btn btn-danger mb-2" style="width:25%">
                            <i class="fas fa-trash-alt"></i>

                        </a>
                    }
                    <br />
                    @comment.Date
                </div>
                <div class="col-12 text-left">
                    <br />
                    @Html.Raw(comment.CommentContent)
                    <br />
                </div>
            </div>
        }
</div>
@section Scripts {
    <script>
        function showDirector(htmlContent) {
            Swal.fire({
                title: '<strong>Movie Director</strong>',
                icon: 'info',
                html:
                    htmlContent,
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ok'
            })
            return true;
        }
        function showMovieStudio(htmlContent) {
            Swal.fire({
                title: '<strong>Movie Studio</strong>',
                icon: 'info',
                html:
                    htmlContent,
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ok'
            })
            return true;
        }
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                width: 800
            });
        });
        function validateInput() {
            if (document.getElementById("commentContent").value == "") {
                Swal.fire(
                    'Error!',
                    'Write a valid comment',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}
