@model IEnumerable<SBD_TO_Project.Models.Movie>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movie List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class=" btn btn-primary">
                <i class="fas fa-plus"></i> Add New Movie
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        A.R.
                    </th>
                    <th>
                        Length
                    </th>
                    <th>
                        Director
                    </th>
                    <th>
                        Movie studio
                    </th>
                    <th>
                        Genres
                    </th>
                    <th>
                        Actors
                    </th>
                    <th>
                        Modify Movie
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @if (obj.Title.Length > 20)
                            {
                                <a href="#" onclick="showTitle('<h1>@obj.Title<h1>')">@obj.Title.Substring(0, 17) ...</a>
                            }
                            else
                            {
                                @obj.Title
                            }
                        </td>
                        <td>
                            @obj.AgeRating
                        </td>
                        <td>
                            @obj.Length
                        </td>
                        <td>
                            @(obj.Director.FirstName+" "+obj.Director.LastName)
                        </td>
                        <td>
                            @if (obj.MovieStudio == null)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                @obj.MovieStudio.Name
                            }
                        </td>
                        <td>
                            @if (obj.MovieGenres.Count > 0)
                            {
                                <a asp-route-Id="@obj.Id" asp-controller="MovieGenre" asp-action="Index" class="btn btn-info w-100">
                                    <i class="fas fa-eye"></i>&nbsp; Browse
                                </a>
                            }
                            else
                            {
                                <a asp-route-Id="@obj.Id" asp-controller="MovieGenre" asp-action="Create" class="btn btn-success w-100">
                                    <i class="fas fa-plus"></i>&nbsp; Add
                                </a>
                            }
                        </td>
                        <td>
                            @if (obj.ActorMovies.Count > 0)
                            {
                                <a asp-route-Id="@obj.Id" asp-controller="ActorMovie" asp-action="Index" class="btn btn-info w-100">
                                    <i class="fas fa-eye"></i>&nbsp; Browse
                                </a>
                            }
                            else
                            {
                                <a asp-route-Id="@obj.Id" asp-controller="ActorMovie" asp-action="Create" class="btn btn-success w-100">
                                    <i class="fas fa-plus"></i>&nbsp; Add
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-warning m-0 mr-2" style="width:100%">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger m-0 text-white" style="width:100%">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No movie exists.</p>
    }
</div>

@section Scripts{
    <script>
        function showTitle(htmlContent) {
            Swal.fire({
                title: '<strong>Movie Title</strong>',
                icon: 'info',
                html:
                    htmlContent,
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Ok'
            })
            return true;
        }
    </script>
}

