@model SBD_TO_Project.Models.ViewModels.CinemaEmployeeVM

<form method="post" asp-action="Assign">
    <input asp-for="IdCinema" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-dark pl-3">
                Assign Employees to cinema
            </h2>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                @if (Model.EmployeeCheckBoxList.Count > 0)
                {
                    <div class="form-group row">
                        <table class=" table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Selected
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Phone No.
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Position
                                    </th>
                                    <th>
                                        Monthly Salary
                                    </th>
                                </tr>
                            </thead>
                            @for (int i = 0; i < Model.EmployeeCheckBoxList.Count(); i++)
                            {                               
                        <tr>
                            @Html.HiddenFor(e => e.EmployeeCheckBoxList[i].IdString)
                            <td>
                                @Html.CheckBoxFor(e => e.EmployeeCheckBoxList[i].IsChecked)
                            </td>
                            <td>
                                @(((Employee)Model.EmployeeCheckBoxList[i].Object).FirstName +" "+ ((Employee)Model.EmployeeCheckBoxList[i].Object).LastName)
                            </td>
                            <td>
                                @if (((Employee)Model.EmployeeCheckBoxList[i].Object).PhoneNumber == null)
                                {
                                    <span>None</span>
                                }
                                else
                                {
                                    @(((Employee)Model.EmployeeCheckBoxList[i].Object).PhoneNumber)
                                }
                            </td>
                            <td>
                                @(((Employee)Model.EmployeeCheckBoxList[i].Object).Email)
                            </td>
                            <td>
                                @(((Employee)Model.EmployeeCheckBoxList[i].Object).Position)
                            </td>
                            <td>
                                @(((Employee)Model.EmployeeCheckBoxList[i].Object).MonthlySalary)
                            </td>
                        </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <p>All possible employees are already assigned to this cinema</p>
                }
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        @if (Model.EmployeeCheckBoxList.Count > 0)
                        {
                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Assign" />
                            </div>
                        }
                        <div class="col">
                            <a asp-route-Id="@Model.IdCinema" asp-action="Index" class="btn btn-primary w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
