@model SBD_TO_Project.Models.Cinema

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cinema details</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class=" btn btn-info">
                <i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back
            </a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Open Hours
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        PostalCode
                    </th>
                    <th>
                        Town
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Apartment no.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @(Model.OpenTime.ToString("h:mm tt")+" - "+Model.CloseTime.ToString("h:mm tt"))
                    </td>
                    <td>
                        @Model.Country
                    </td>
                    <td>
                        @Model.PostalCode
                    </td>
                    <td>
                        @Model.Town
                    </td>
                    <td>
                        @if (Model.Street == null)
                        {
                            <span>None</span>
                        }
                        else
                        {
                            @Model.Street
                        }
                    </td>
                    <td>
                        @Model.ApartmentNumber
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
