@model SBD_TO_Project.Models.Cinema

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cinema details</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class=" btn btn-info">
                <i class="fas fa-arrow-alt-circle-left"></i> &nbsp; Back
            </a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        PostalCode
                    </th>
                    <th>
                        Town
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Apartment no.
                    </th>
                    <th>
                        Modify Cinema
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @Model.Country
                    </td>
                    <td>
                        @Model.PostalCode
                    </td>
                    <td>
                        @Model.Town
                    </td>
                    <td>
                        @if (Model.Street == null)
                        {
                            <span>None</span>
                        }
                        else
                        {
                            @Model.Street
                        }

                    </td>
                    <td>
                        @Model.ApartmentNumber
                    </td>
                    <td class="text-center">
                        <a asp-route-Id="@Model.Id" asp-action="Employees" class="btn btn-success m-0 mr-2" style="width:20%">
                            <i class="fas fa-briefcase"></i>
                        </a>
                        <a asp-route-Id="@Model.Id" asp-action="Schedules" class="btn btn-dark m-0 mr-2" style="width:20%">
                            <i class="fas fa-film"></i>
                        </a>
                        <a asp-route-Id="@Model.Id" asp-action="Rooms" class="btn btn-primary m-0 mr-2" style="width:20%">
                            <i class="fas fa-couch"></i>
                        </a>
                        <a asp-route-Id="@Model.Id" asp-action="Edit" class="btn btn-warning m-0" style="width:20%">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
