@model IEnumerable<SBD_TO_Project.Models.Cinema>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cinema List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class=" btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Add Cinema
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Cinema Name
                    </th>
                    <th>
                        Modify Cinema
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td class="d-flex justify-content-center">
                        <a asp-route-Id="@obj.Id" asp-action="Details" class="btn btn-info m-0 mr-2" style="width:100%">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        @if (User.IsInRole(WebConstants.AdminRole))
                        {
                            <a asp-route-Id="@obj.Id" asp-controller="EmployeeCinema" asp-action="ManagerIndex" class="btn btn-dark m-0 mr-2" style="width:100%; background-color:mediumvioletred; border:0">
                                <i class="fas fa-user-tie"></i>
                            </a>
                        }
                        @if (User.IsInRole(WebConstants.AdminRole) || User.IsInRole(WebConstants.ManagerRole))
                        {
                            <a asp-route-Id="@obj.Id" asp-controller="EmployeeCinema" asp-action="Index" class="btn btn-success m-0 mr-2" style="width:100%">
                                <i class="fas fa-user"></i>
                            </a>
                        }
                        @if (!User.IsInRole(WebConstants.CustomerRole) && User.Identity.IsAuthenticated)
                        {
                            <a asp-route-Id="@obj.Id" asp-controller="Schedule" asp-action="Index" class="btn btn-dark m-0 mr-2" style="width:100%">
                                <i class="fas fa-film"></i>
                            </a>
                            <a asp-route-Id="@obj.Id" asp-controller="ScreeningRoom" asp-action="Index" class="btn btn-primary m-0 mr-2" style="width:100%">
                                <i class="fas fa-couch"></i>
                            </a>
                            <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-warning m-0 mr-2" style="width:100%">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger m-0 text-white" style="width:100%">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No cinemas exists.</p>
    }
</div>

