@model SBD_TO_Project.Models.Movie

@{
    var directorAlias = "";
    var actorOutput = "";
    var genreOutput = "";

    var filterClasses = "";

    foreach(var obj in Model.MovieGenres)
    {
        filterClasses += obj.Genre.Name;
        filterClasses += " ";
    }

    if (Model.ActorMovies.Count > 0) {
        actorOutput = "<ul>";
        foreach(var actor in Model.ActorMovies)
        {
            var actorAlias = "";
            if (actor.Actor.Alias != null)
            {
                actorAlias += "(";
                actorAlias += actor.Actor.Alias;
                actorAlias += ")";
            }
            actorOutput += "<li>";
            actorOutput += actor.Actor.FirstName + " " + actor.Actor.LastName +" "+ actorAlias;
            actorOutput += "</li>";
        }
        actorOutput += "</ul>";
    }
    else
    {
        actorOutput = "<h5>No actors assigned</h5>";
    }
    if(Model.MovieGenres.Count > 4)
    {
        genreOutput = "<ul>";
        foreach (var genre in Model.MovieGenres)
        {
            genreOutput += "<li>";
            genreOutput += genre.Genre.Name;
            genreOutput += "</li>";
        }
        genreOutput += "</ul>";
    }
}

<div class="col-lg-6 col-md-6 pb-4 filter @filterClasses">
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-6">
                <div class="row text-info h3 pl-2 h-25"> @Model.Title </div>
                <div class="row h4 pl-2">
                    <span class="text-body">Age rating</span>
                    @if (Model.AgeRating != null)
                    {
                        <span class="text-info">&nbsp;+@Model.AgeRating</span>
                    }
                    else
                    {
                        <span class="text-info">None</span>
                    }
                </div>
                <div class="row text-body h6 pl-2"> Directed by: </div>
                @if (Model.Director.Alias != null)
                {
                    directorAlias = "(" + Model.Director.Alias + ")";
                }
                <div class="row text-info h6 pl-2"> @(Model.Director.FirstName+" "+Model.Director.LastName + directorAlias)</div>
                <div class="row text-body h6 pl-2"> Movie Studio: </div>
                <div class="row text-info h6 pl-2 pb-3">
                    @if (Model.MovieStudio != null)
                    {
                        @Model.MovieStudio.Name
                    }
                    else
                    {
                        <span>None</span>
                    }
                </div>
                <div class="row text-body h6 pl-2">
                    <button class="btn btn-secondary w-100" onclick="showActors('@actorOutput')">Click to see actors</button>
                </div>
                <div class="row text-body h6 pl-2">
                    <button class="btn btn-secondary w-100" onclick="return showDescription('@Model.Description')">Click to see description</button>
                </div>
            </div>
            <div class="col-6">
                <img class="img-fluid d-block mx-auto mb-3 float-left" src="@(WebConstants.ImageMoviePath+Model.Image)" alt="Card image cap">
            </div>
        </div>
        <div class="row p-1 px-3" style="height:10vh">
            @if (Model.MovieGenres.Count == 0)
            {
                <span class="pl-3">No genres assigned</span>
            }
            else if (Model.MovieGenres.Count > 4)
            {
                <div class="col-12 p-1">
                    <button class="btn btn-secondary form-control btn-sm p-2" style="height:40px" onclick="showGenres('@genreOutput')">Click to see genres</button>
                </div>
            }
            else
            {
            @foreach (var obj in Model.MovieGenres)
                {
                    <div class="col-6 mb-2">
                        <span class="badge p-2 border w-100" style="background-color:aliceblue">@obj.Genre.Name</span>
                    </div>
                }
            }
        </div>
        <div class="card-body p-1 px-3 row">           
            <div class="col-12 p-1">
                <a class="btn btn-info form-control btn-sm p-2" style="height:40px">View Details</a>
            </div>
            <div class="col-12 p-1">
                <a class="btn btn-primary form-control btn-sm p-2" style="height:40px">Check In Cinema</a>
            </div>
        </div>
    </div>
</div>